<h2>Editar el perfil de las personas servidoras públicas</h2>
<nav>
    <a class="button" routerLink="generales"
        routerLinkActive="activebutton"
    >Datos Generales</a>
    <a  class="button" routerLink="activismo"
        routerLinkActive="activebutton"
    >Activismo</a>
    <a class="button"  routerLink="historial"
        routerLinkActive="activebutton"
    >Historial Académico</a>
    <a class="button"  routerLink="seguridad"
        routerLinkActive="activebutton"
    >Perfil de seguridad</a>
</nav>
<!-- Este router-outlet es donde se cargarán los componentes hijos -->
<router-outlet></router-outlet>